@model Ecommerce.Models.Urunler
@{
    ViewBag.Title = "SEPETIM";
}
<img src="@Model.ProductPicture" style="width:100px;height:100px" />
<p><h2 class="text-primary"><b>Urun Adı:@Model.ProductName</b></h2></p>
<p><h2 class="text-success">Urun Fiyatı:@Model.ProductPrice @Model.Currency</h2></p>
<p><h2 class="text-success">Urun Adeti:@Model.OrderedQuantity </h2></p>
<p>dfsfds dsfdsfv</p>
